<div class="h-100 container-fluid bg-light">
    <!-- nav header bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand home" id="dHead">Dashboard</p>
    </nav>
    <!-- {{tasks | json}} -->
    <!-- main content -->
    <div class="row w-100 justify-content-md-center" style="min-height: 85%;">
        <!-- status column -->
        <div class="col-lg-3 w-100">
            <ul class="list-group">
                <li class="list-group-item active">Statistics</li>
                <li class="list-group-item">All <span class="badge badge-primary" id="allnum">5</span></li>
                <li class="list-group-item">Completed <span class="badge badge-success" id="comnum">2</span></li>
                <li class="list-group-item">Ongoing <span class="badge badge-warning" id="ongng">2</span></li>
                <li class="list-group-item">Upcoming <span class="badge badge-danger" id="upcmg">1</span></li>
            </ul>
        </div>
        <!-- task list column -->
        <div class="col-lg-9 w-100 border p-3">
            <!-- navbar within the tasks list to provide a form for sort and filter -->
            <nav class="navbar border navbar-light bg-light mb-2">
                <a class="navbar-brand">
                    <h4>Tasks</h4>
                </a>
                <!-- inline form with sort and filter buttons -->
                <form class="form-inline">
                    <div class="form-group mr-2">
                        <!-- select for sorting data -->
                        <select class="form-control form-control-sm" id="sort_by" onchange="taskServiceObj.sortTasks(this.value)">
                            <option value="all">Sort By</option>
                            <option value="priority">Priority</option>
                            <option value="status">Status</option>
                        </select>
                    </div>
                    <div class="form-group mr-2">
                        <!-- select for filtering data -->
                        <select class="form-control form-control-sm" id="filter_priority" onchange="taskServiceObj.filterTasks(this.value)">
                            <option value="all">Filter</option>
                            <option value="high">High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                            <option value="upcoming">Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                    </div>
                    <!-- button for adding task -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addtask">Add
                        Task</button>
                </form>
            </nav>
            <!-- progress bar showing the percentage of tasks completed -->
            <div class="progress m-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progress" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 10%">25%</div>
            </div>
            <!-- list of tasks -->
            <div class="row">
                <div class="col-lg">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sl no</th>
                                <th scope="col">Task</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <!-- renders from the backed -->
                        <tbody id="taskslist">
                            <tr *ngFor="let t of tasks; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{t.task}}</td>
                                <td>{{t.priority}}</td>
                                <td>{{t.status}}</td>
                                <td><a type="button" class="btn text-info" data-toggle="modal" data-target="#viewtask" (click)="viewTask(t.id)">
                                        View
                                    </a>
                                </td>
                                <td>
                                    <a type="button" class="btn text-primary" data-toggle="modal" data-target="#edittask" (click)="editTask(t.id)">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a type="button" class="btn text-danger" (click)="deleteTask(t.id)">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- toast for showing error or success -->
    <div class="toast" data-autohide="false" style="position: absolute; top: 10%; right: 2%; width: 250px;">
        <div id="thead" class="toast-header">
            <strong id="thtext" class="mr-auto"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="message" class="toast-body bg-light"></div>
    </div>
</div>

<!-- add task modal -->
<div class="modal fade" id="addtask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addform" (ngSubmit)="addTask()">
                    <div class="form-group">
                        <input class="form-control form-control-sm" formControlName="task" type="text" name="task" id="task" placeholder="do something" required autofocus>
                        <div *ngIf="adding && af.task.errors" class="invalid-feedback">
                            <div *ngIf="af.task.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" formControlName="priority" name='priority' id="priority">
                            <option value="high">High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                        </select>
                        <div *ngIf="adding && af.priority.errors" class="invalid-feedback">
                            <div *ngIf="af.priority.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" formControlName="status" name="status" id="status">
                            <option value="upcoming">Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                        <div *ngIf="adding && af.status.errors" class="invalid-feedback">
                            <div *ngIf="af.status.errors.required">This field is required</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit task modal -->
<div class="modal fade" id="edittask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="editform">
                    <!-- <form [formGroup]="updateform" (ngSubmit)="updateTask()">
                        <div class="form-group">
                            <input class="form-control form-control-sm" formControlName="task" type="text" name="task" id="task" value="{{ task.task }}" required autofocus>
                            <div *ngIf="updating && uf.task.errors" class="invalid-feedback">
                                <div *ngIf="uf.task.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="priority" name='priority' id="priority">
                        <option value="high">High Priority</option>
                        <option value="medium">Medium Priority</option>
                        <option value="low" >Low Priority</option>
                    </select>
                            <div *ngIf="updating && uf.priority.errors" class="invalid-feedback">
                                <div *ngIf="uf.priority.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="status" name="status" id="status">
                        <option value="upcoming" >Upcoming</option>
                        <option value="ongoing" >Ongoing</option>
                        <option value="completed" >Completed</option>
                    </select>
                            <div *ngIf="updating && uf.status.errors" class="invalid-feedback">
                                <div *ngIf="uf.status.errors.required">This field is required</div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-sm">
                  Save
                </button>
                    </form> -->
                    <!-- <form [formGroup]="updateForm" (ngSubmit)="updateTask()">
                        <div class="form-group">
                            <input class="form-control form-control-sm" formControlName="task" type="text" name="task" id="task" value="${ this.task.task }" required autofocus>
                            <div *ngIf="updating && uf.task.errors" class="invalid-feedback">
                                <div *ngIf="uf.task.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="priority" name='priority' id="priority">
                            <option value="high" ${this.isSelectedPriority('high')} >High Priority</option>
                            <option value="medium" ${this.isSelectedPriority('medium')} >Medium Priority</option>
                            <option value="low" ${this.isSelectedPriority('low')} >Low Priority</option>
                        </select>
                            <div *ngIf="updating && uf.priority.errors" class="invalid-feedback">
                                <div *ngIf="uf.priority.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="status" name="status" id="status">
                            <option value="upcoming" ${this.isSelectedStatus('upcoming')} >Upcoming</option>
                            <option value="ongoing" ${this.isSelectedStatus('ongoing')} >Ongoing</option>
                            <option value="completed" ${this.isSelectedStatus('completed')} >Completed</option>
                        </select>
                            <div *ngIf="updating && uf.status.errors" class="invalid-feedback">
                                <div *ngIf="uf.status.errors.required">This field is required</div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-sm">
                      Save
                    </button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- view task modal -->
<div class="modal fade" id="viewtask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="viewform">
                    <!-- <table>
                        <tr>
                            <th>Description</th>
                            <td>{{ task.task }}</td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>{{ task.priority }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ task.status }}</td>
                        </tr>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>