<div class="h-100 container-fluid bg-light">
    <!-- nav header bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand home" id="dHead">Dashboard</p>
    </nav>
    <!-- {{tasks | json}} -->
    <!-- main content -->
    <div class="row w-100 justify-content-md-center" style="min-height: 85%;">
        <!-- status column -->
        <div class="col-lg-3 w-100">
            <ul class="list-group">
                <li class="list-group-item active">Statistics</li>
                <li class="list-group-item">All <span class="badge badge-primary" id="allnum">{{ all }}</span></li>
                <li class="list-group-item">Completed <span class="badge badge-success" id="comnum">{{ completed }}</span></li>
                <li class="list-group-item">Ongoing <span class="badge badge-warning" id="ongng">{{ ongoing }}</span></li>
                <li class="list-group-item">Upcoming <span class="badge badge-danger" id="upcmg">{{ upcoming }}</span></li>
            </ul>
        </div>
        <!-- task list column -->
        <div class="col-lg-9 w-100 border p-3">
            <!-- navbar within the tasks list to provide a form for sort and filter -->
            <nav class="navbar border navbar-light bg-light mb-2">
                <a class="navbar-brand">
                    <h4>Tasks</h4>
                </a>
                <!-- inline form with sort and filter buttons -->
                <form class="form-inline">
                    <div class="form-group mr-2">
                        <!-- select for sorting data -->
                        <select class="form-control form-control-sm" id="sort_by" (change)="sortTasks($event.target.value)">
                            <option value="all">Sort By</option>
                            <option value="priority">Priority</option>
                            <option value="status">Status</option>
                        </select>
                    </div>
                    <div class="form-group mr-2">
                        <!-- select for filtering data -->
                        <select class="form-control form-control-sm" id="filter_priority" (change)="filterTasks($event.target.value)">
                            <option value="all">Filter</option>
                            <option value="high">High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                            <option value="upcoming">Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                    </div>
                    <!-- button for adding task -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addtask">Add
                        Task</button>
                </form>
            </nav>
            <!-- progress bar showing the percentage of tasks completed -->
            <div class="progress m-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progress" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="getCompleted() + '%'">{{ getCompleted() + '%' }}</div>
            </div>
            <!-- list of tasks -->
            <div class="row">
                <div class="col-lg">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sl no</th>
                                <th scope="col">Task</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <!-- renders from the backed -->
                        <tbody id="taskslist" *ngIf="tasks">
                            <tr *ngFor="let t of tasks; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{t.description}}</td>
                                <td>{{t.priority}}</td>
                                <td>{{t.status}}</td>
                                <td><a type="button" class="btn text-info" data-toggle="modal" data-target="#viewtask" (click)="viewTask(t)">
                                        View
                                    </a>
                                </td>
                                <td>
                                    <a type="button" class="btn text-primary" data-toggle="modal" data-target="#edittask" (click)="editTask(t)">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a type="button" class="btn text-danger" (click)="deleteTask(t.id)">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add task modal -->
<div class="modal fade" id="addtask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (ngSubmit)="addTask()">
                    <div class="form-group">
                        <input class="form-control form-control-sm" formControlName="task" type="text" name="task" id="task" placeholder="do something" required autofocus>
                        <div *ngIf="adding && af.task.errors" class="invalid-feedback">
                            <div *ngIf="af.task.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" formControlName="priority" name='priority' id="priority">
                            <option value="high" [selected]=true>High Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="low">Low Priority</option>
                        </select>
                        <div *ngIf="adding && af.priority.errors" class="invalid-feedback">
                            <div *ngIf="af.priority.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm" formControlName="status" name="status" id="status">
                            <option value="upcoming" [selected]=true>Upcoming</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                        </select>
                        <div *ngIf="adding && af.status.errors" class="invalid-feedback">
                            <div *ngIf="af.status.errors.required">This field is required</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit task modal -->
<div class="modal fade" id="edittask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="editform" *ngIf="eTask">
                    <!-- {{eTask | json}} -->
                    <form [formGroup]="updateForm" (ngSubmit)="updateTask()">
                        <div class="form-group">
                            <input class="form-control form-control-sm" formControlName="task" type="text" [(ngModel)]="eTask.description" required autofocus>
                            <div *ngIf="updating && uf.task.errors" class="invalid-feedback">
                                <div *ngIf="uf.task.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="priority" name='priority' id="priority">
                              <option value="high" [selected]="eTask.priority == 'high'" >High Priority</option>
                              <option value="medium" [selected]="eTask.priority == 'medium'">Medium Priority</option>
                              <option value="low" [selected]="eTask.priority == 'low'">Low Priority</option>
                            </select>
                            <div *ngIf="updating && uf.priority.errors" class="invalid-feedback">
                                <div *ngIf="uf.priority.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm" formControlName="status" name="status" id="status">
                              <option value="upcoming" [selected]="eTask.status == 'upcoming'">Upcoming</option>
                              <option value="ongoing" [selected]="eTask.status == 'ongoing'">Ongoing</option>
                              <option value="completed" [selected]="eTask.status == 'completed'">Completed</option>
                            </select>
                            <div *ngIf="updating && uf.status.errors" class="invalid-feedback">
                                <div *ngIf="uf.status.errors.required">This field is required</div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-sm">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Save
                </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- view task modal -->
<div class="modal fade" id="viewtask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="viewform">
                    <table *ngIf="viewingTask">
                        <tr>
                            <th>Description: </th>
                            <td>{{ viewingTask.description }}</td>
                        </tr>
                        <tr>
                            <th>Priority: </th>
                            <td>{{ viewingTask.priority }}</td>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <td>{{ viewingTask.status }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>