<div class="h-100 container-fluid bg-light">
    <div class="row text-justify text-center align-items-center justify-content-center h-100">
        <div class="col-lg h-auto">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 border rounded">
                    <!-- <form method="POST" class="text-left p-4" onsubmit="register()" autocomplete="off"> -->
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-left p-4" autocomplete="off">
                        <h3>Sign Up</h3>
                        <div class=" form-group">
                            <label for="name">User Name</label>
                            <input type="text" class="form-control" formControlName="name" id="name" name="name" placeholder="name97" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required autofocus>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" formControlName="email" id="email" name="email" placeholder="abc@mail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Email is not valid</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Create Password</label>
                            <input type="password" class="form-control" formControlName="password" id="password" name="password" placeholder="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmpassword" id="confirmpassword" name="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" placeholder="Re-enter password" required>
                            <div *ngIf="submitted && f.confirmpassword.invalid" class="invalid-feedback">
                                <div *ngIf="f.confirmpassword.errors.required">Password is required.</div>
                                <div *ngIf="f.confirmpassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Submit
                        </button>
                        <p>Have account? <span><a class="btn text-primary" routerLink="/signin">Sign in now</a></span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg p-2">
            <img src="/assets/images/4445.jpg" class="rounded img-fluid mx-auto d-block" alt="main_img">
        </div>
    </div>

    <!-- toasts -->
    <div class="toast" data-autohide="false" style="position: absolute; top: 10%; right: 2%;">
        <div id="thead" class="toast-header">
            <strong id="thtext" class="mr-auto"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="message" class="toast-body bg-light"></div>
    </div>
</div>